.onebox {
    color: #bfff;
    width: 35%;
    height: 200px;
    display: none;
    position: absolute;
    top: 23%;
    left: 33%;
    text-align: center;
    font-size: 90px;
    transition: 100ms;
    animation-name: example;
    animation-duration: 1000ms;
    animation-iteration-count:infinite;
  }
  
  @keyframes example {
    from {transform: scale(0.8);}
    to {transform: scale(1.3);}
  }
